@model WorldWideImporters.Models.ViewModels.Information;

@{
    ViewBag.Title = "Details";
}

<h2>Client Details</h2>

<div>
    <h3>@Html.DisplayFor(model => model.FullName)</h3>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <dl>
                <dt>
                    @Html.DisplayNameFor(model )
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FullName)
                </dd>

                <dt>
                    Preferred Name
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PreferredName)
                </dd>

                <dt>
                    Phone Number
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PhoneNumber)
                </dd>

                <dt>
                    Fax Number
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FaxNumber)
                </dd>

                <dt>
                    Email Address
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EmailAddress)
                </dd>

                <dt>
                    Start Date
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ValidFrom)
                </dd>
            </dl>
        </div>
        <div class="col-md-6">
            <h4><b> Photo </b></h4>
            <a href="https://placeholder.com"><img src="https://via.placeholder.com/150" /></a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">

        </div>
    </div>
</div>
