@model WorldWideImporters.Models.ViewModels.Info

<h2>Client Details</h2>

<div>
    <div class="row">
        <div class="col-md-6">
            <div id="table">
                <h5>@Html.DisplayFor(m => m.Name)</h5>
                <p><b>@Html.DisplayNameFor(model => model.PName):</b>@Html.DisplayFor(model => model.PName)</p>
                <p><b>@Html.DisplayNameFor(model => model.Phone):</b> @Html.DisplayFor(model => model.Phone)</p>
                <p><b>@Html.DisplayNameFor(model => model.Fax):</b>@Html.DisplayFor(model => model.Fax)</p>
                <p><b>@Html.DisplayNameFor(model => model.Email):</b>@Html.DisplayFor(model => model.Email)</p>
                <p><b>@Html.DisplayNameFor(model => model.Member):</b>@Html.DisplayFor(model => model.Member)</p>
            </div>
        </div>
        <div class="col-md-6">
            <a href="https://placeholder.com"><img src="https://via.placeholder.com/150" /></a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div id="box">
                <p><b>@Html.DisplayNameFor(model => model.CompanyName):</b>@Html.DisplayFor(model => model.CompanyName)</p>
                <p><b>@Html.DisplayNameFor(model => model.CompanyPhone):</b> @Html.DisplayFor(model => model.CompanyPhone)</p>
                <p><b>@Html.DisplayNameFor(model => model.CompanyFax):</b>@Html.DisplayFor(model => model.CompanyFax)</p>
                <p><b>@Html.DisplayNameFor(model => model.Website):</b>@Html.DisplayFor(model => model.Website)</p>
                <p><b>@Html.DisplayNameFor(model => model.CompanyYear):</b>@Html.DisplayFor(model => model.CompanyYear)</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div id="box">
                <p><b>@Html.DisplayNameFor(model => model.Orders):</b>@Html.DisplayFor(model => model.Orders)</p>
                <p><b>@Html.DisplayNameFor(model => model.GrossSales):</b> @Html.DisplayFor(model => model.GrossSales)</p>
                <p><b>@Html.DisplayNameFor(model => model.GrossProfit):</b>@Html.DisplayFor(model => model.GrossProfit)</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div id="box">
                <table class="table">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Products.First().StockItemID)</th>
                        <th>@Html.DisplayNameFor(model => model.Products.First().Description)</th>
                        <th>@Html.DisplayNameFor(model => model.Products.First().Profit)</th>
                        <th>@Html.DisplayNameFor(model => model.Products.First().Salesperson)</th>
                    </tr>
                    @for(var i = 0; i < 10; i++)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => modelItem.Products.Skip(i).First().StockItemID)</td>
                            <td>@Html.DisplayFor(modelItem => modelItem.Products.Skip(i).First().Description)</td>
                            <td>@Html.DisplayFor(modelItem => modelItem.Products.Skip(i).First().Profit)</td>
                            <td>@Html.DisplayFor(modelItem => modelItem.Products.Skip(i).First().Salesperson)</td>
                        </tr>
                    }
                </table>                
            </div>
        </div>
    </div>
</div>