@model WorldWideImporters.Models.ViewModels.Info

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Info</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Member)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyFax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyFax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Website)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Website)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Orders)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Orders)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GrossSales)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GrossSales)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GrossProfit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GrossProfit)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Name }) |
    @Html.ActionLink("Back to List", "Index")
</p>
